@import url(github.css);

body {
    margin: 60px auto;
    width: 62%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #808080;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: #A0A0A0;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

hr {
    margin-top: 2em;
    margin-bottom: 2em;
    height: 1px;
    width: 62%;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

ol {
    font-size: 18px;
    margin-top: 0.25em;
    color: #101010;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

li {
    margin-top: 0.5em;
}

.tags {
    font-size: 1.0em;
    line-height: 1.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.post-meta {
    font-size: 12px;
    line-height: 0.25em;
    margin-top: 0.25em;
    padding: 0 6px;
    color: #101010;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background-color:#DCDCDC;
}
.post-title {
    font-size: 42px;
    line-height: 2em;
    margin-top: 1em;
    padding: 0 6px;
    color: #101010;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.post-content {
    font-size: 18px;
    margin-top: 0.25em;
    padding: 0 6px;
    color: #101010;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

.post-section-title {
    font-size: 36px;
    margin-top: 0.25em;
    text-align: center;
    color: #101010;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
